body {background-color: #333333;}
.mediagallery {margin-left: auto;
margin-right: auto;
max-width: fit-content;
text-align: center;
.row {margin-top: 10px;}}
.navbar {background-color: rgba(255,255,255,1.00) !important;}
.nav-link {font-size:medium;color:rgba(255,255,255,1.00);}