repos:
- repo: https://github.com/pycqa/flake8
  rev: '7.0.0'  # pick a git hash / tag to point to
  hooks:
    - id: flake8
      args: [django_dynamic_theme, tests]
      exclude: '/migrations/'
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0  # Use the ref you want to point at
  hooks:
    - id: check-merge-conflict
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0  # Use the ref you want to point at
  hooks:
    - id: trailing-whitespace
default_language_version:
  python: python3.12
